<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;">
        {% if request.user.is_authenticated %}
            <button> {{user.username}} | </button> 
            <button><a href="{% url 'logout' %}">Выйти</a></button>
        {% else %}
            <button><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></button>
        {% endif %}
    </div>
    {% block title %}<!-- Часть которая отличчается -->
        <div>
            {% for cat in categorys%}
        <div><a href="{% url 'category' cat.id %}">{{cat}}</a></div> <!-- в а href Говорим перейти на наш url /category и передаем id categorys -->
            {% endfor%}
        </div>
    {% endblock %}
</body>
</html>